@media only screen and (max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    .img-box {
        margin-left: -100px;
    }
    .border-mobile {
        border: 1px solid #ddd;
        border-radius: 4px;
        width: fit-content;
}
    .contact-bg {
        position: relative;
        left: -45px;
        width: 450px;
        height: 400px; 
    }
    .contact-title {
        position: relative;
        top: 70px;
    }
    .contact-title-2 {
     margin-top: 60px;
    }
    .input-group {
     position: relative;
     bottom: 58px; 
     right: 10px;  
    }

    .copraight {
       right: 40px;
    }

   .footer {
    position: relative;
    top: -90px;
    left: -100px;
    margin: 50px;
   }
   .footer-bottom-box {
    margin-top: 70px;
    margin-left: 90px;
   }
}

@media only screen and (max-width: 770px) {
    .input-group {
        position: relative;
        bottom: 48px; 
        right: 10px;  
    }
    .footer-bottom-box {
        margin-top: 70px;
        margin-left: 90px;
       }
}

@media only screen and (max-width: 992px) {
    .envelope-box {
        display: none;
    }

    .input-text {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
    
}

@media only screen and (max-width: 1200px) {
    .contact-text {
        left: 10px;
    }
}